<form *ngIf="reviewFormGroup" [formGroup]="reviewFormGroup" (ngSubmit)="editReview('')">
  <div formGroupName="reviewGroup">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Leave a review</mat-label>
      <input matInput formControlName="message" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Review Type</mat-label>
      <mat-select formControlName="reviewType" >
        <mat-option *ngFor="let reviewType of reviewTypes" [value]="reviewType">{{reviewType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button mat-flat-button color="accent" (submit)="editReview('')">update</button>
  </div>
</form>
