<section class="chat" *ngIf="chatIsReady; else unavailable">
  <stream-channel-list></stream-channel-list>
  <stream-channel fxFlex="row" style="height: 500px">
    <stream-channel-header></stream-channel-header>
    <stream-message-list></stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input></stream-message-input>
  </stream-channel>
</section>

<ng-template #unavailable>
  <mat-spinner></mat-spinner>
  <div>Chat is not available...</div>
</ng-template>

<ng-template #channelPreview let-channel="channel">
  <section (click)="activateChannel(channel)">
      <mat-card routerLink="/chats/{{channel.id}}" *ngIf="channel?.state?.members | filterMembers: auth.authenticatedUser.uid; let member">
        <mat-card-header>
          <img mat-card-avatar src="{{member.image}}" style="background-size: cover;cursor: pointer">
          <mat-card-title>{{member.name}}</mat-card-title>
          <mat-card-subtitle>{{channel?.state?.messages.at(-1)?.text}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  </section>
</ng-template>
