<div style="text-align: center">
  <div>
  <mat-card style="margin-left: 30%;margin-right: 30%;">

    <mat-label>Choose Photos:</mat-label>
    <input type="file" (change)="upload($event)" accept=".png,.jpg"/>

    <progress max="100" [value]="(uploadProgress | async)"></progress>
    <br><br>
    <div fxLayout="row wrap">
      <div fxFlex *ngFor="let url of tattooWorkPhotos ">
        <div>
          <img style="width: 300px;height: 300px; border: 10px solid darkgreen;" matCardImage *ngIf="tattooWorkPhotos[0]===url" [src]="url">
          <img style="width: 300px;height: 300px"  matCardImage *ngIf="tattooWorkPhotos[0]!==url" [src]="url">
          <button (click)="removeFromPhotos(url)" mat-flat-button color="accent">remove</button>
        </div>
      </div>
    </div>

    <div>
      <form *ngIf="patchTattooWorkFormGroup" [formGroup]="patchTattooWorkFormGroup" (ngSubmit)="update()">
        <div formGroupName="patchTattooWork">
          <mat-form-field appearance="fill" color="warn">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required>
            <mat-error>Description is required!</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Tattoo styles you make</mat-label>
            <mat-select formControlName="tattooStyle" required>
              <mat-option *ngFor="let style of tattooStyles" [value]="style">{{style}}</mat-option>
            </mat-select>
            <mat-error>tattoo style is required!</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" color="warn">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" required>
            <mat-error>Price is required!</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field  appearance="fill">
            <mat-label>Currency</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   formControlName="currency"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>Currency is required!</mat-error>
          </mat-form-field>
        </div>
        <button [disabled]="!patchTattooWorkFormGroup.valid" mat-button mat-flat-button color="accent" (submit)="update()">UPDATE</button>
        <button mat-button mat-flat-button color="warn" routerLink="/me">Cancel</button>
      </form>
    </div>

  </mat-card>
  </div>
</div>
