<mat-tab-group color="accent" backgroundColor="primary" mat-align-tabs="center">
  <mat-tab label="TattooWork">
    <mat-toolbar style="height: 200px">

      <section>
        <mat-form-field appearance="outline">
        <mat-label>Tattoo style to search</mat-label>
        <mat-select #selectedTattooStyle (selectionChange)="tattooStyle=selectedTattooStyle.value">
          <mat-option *ngFor="let style of tattooStyles" [value]="style">{{style}}</mat-option>
        </mat-select>
        </mat-form-field>
      </section>

      <section style="margin-left: 5%">
        <div [formGroup]="currencyFormGroup">
          <div formGroupName="currencyGroup">
            <mat-form-field  appearance="outline">
              <mat-label>Currency</mat-label>
              <input
                type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     formControlName="currency"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async "  [value]="option"  (onSelectionChange)="currency=option.valueOf()">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </section>

      <section style="margin-left: 5%"><p>min price</p></section>
      <section>
          <mat-slider #mn (valueChange)="minPrice=mn.value"
                      thumbLabel
                      [displayWith]="formatLabel"
                      tickInterval="100"
                      step="100"
                      min="0"
                      max="10000"
                      aria-label="units"></mat-slider>{{mn.value}}
      </section>

      <section style="margin-left: 5%"><p>max price</p></section>
      <section>
        <mat-slider #mx (valueChange)="maxPrice=mx.value"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="100"
                    step="100"
                    min="0"
                    max="10000"
                    aria-label="units"></mat-slider>{{mx.value}}
      </section>

      <section style="margin-left:  5%">
        <input matInput #searchInput type="text"
               placeholder="Search"
               (keyup.enter)="searchTattooWork(searchInput.value)">
        <button (click)="searchTattooWork(searchInput.value)" matSuffix mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </section>
    </mat-toolbar>

    <div fxLayout="row wrap" style="margin-left: 50px;">
      <div fxFlex style="padding-bottom: 30px" *ngFor="let tattooWork of tattooWorkList ">
        <mat-card style="width: 550px">
          <mat-card-header style="max-height: 250px;margin-bottom: 5%">
            <section *ngIf="authenticatedUser" style="margin-left: auto">
              <button matTooltip="favorite"
                      *ngIf="!authenticatedUser.favoriteTattooWorkIds.includes(tattooWork.id)"
                      (click)="favoriteTattooWork(tattooWork.id)"
                      mat-icon-button color="accent">
                <mat-icon>favorite</mat-icon>
              </button>
              <button matTooltip="unFavorite"
                      *ngIf="authenticatedUser.favoriteTattooWorkIds.includes(tattooWork.id)"
                      (click)="unFavoriteTattooWork(tattooWork.id)"
                      mat-icon-button
                      color="accent">
                <mat-icon>undo</mat-icon>
              </button>
            </section>
            <img mat-card-avatar
                 routerLink="/users/{{tattooWork.madeBy.id}}"
                 src="{{tattooWork.madeBy.avatarUrl}}"
                 style="background-size: cover;cursor: pointer ; width: 45%;height: 45%;max-width: 100px; max-height: 100px">

            <mat-card-title><br></mat-card-title>
            <mat-card-title> {{tattooWork.madeBy.firstName}} {{tattooWork.madeBy.lastName}}</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>location_on</mat-icon>
              {{tattooWork.madeBy.country}}</mat-card-subtitle>
          </mat-card-header>

          <div class="detailDiv">
            <img routerLink="/tattoo-work/{{tattooWork.id}}" mat-card-image
                 style=" cursor: pointer; object-fit:cover ;max-height: 450px" class="cover-img"
                 src="{{tattooWork.coverPhoto}}">
            <div class="detailButton">
              <button routerLink="/tattoo-work/{{tattooWork.id}}" mat-flat-button color="accent">See Details</button>
            </div>
          </div>

          <div fxLayout="row" *ngIf="authenticatedUser">
            <button style="width: 50%;" [disabled]="tattooWork.likerIds.includes(authenticatedUser.id)" mat-flat-button
                    color="accent" (click)="likeTattooWork(tattooWork.id)">
              <mat-icon fxFlex>thumb_up</mat-icon>
            </button>

            <button style="margin-left: auto ; width: 50%"
                    [disabled]="tattooWork.disLikerIds.includes(authenticatedUser.id)"
                    mat-flat-button color="warn" (click)="disLikeTattooWork(tattooWork.id)">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
          <div>
            <button style="width: 50%" mat-button color="accent"><h1
              style="font-size: 25px">{{tattooWork.like_number}}</h1></button>
            <button style="width: 50%" mat-button color="warn"><h1
              style="font-size: 25px">{{tattooWork.dislike_number}}</h1></button>
          </div>

          <div style="margin-left: 5%" fxLayout="row">
            <h1>{{tattooWork.description}}</h1>
            <mat-card style="margin-left: auto"><h1
              style="margin-left: auto">{{tattooWork.price | currency:tattooWork.currency}}</h1></mat-card>
          </div>
        </mat-card>
      </div>
    </div>
    <footer style="margin-top: auto">
      <mat-paginator [pageSizeOptions]="[2,5, 10, 25, 100]" [pageSize]="10" [length]="TattooWorkTotalElements"
                     (page)="nextPageTattooWork($event)"></mat-paginator>
    </footer>
  </mat-tab>

  <mat-tab label="TattooArtist" >
    <mat-toolbar style="height: 200px">

      <section style="margin-left: 5%">
        <mat-form-field appearance="outline">
          <mat-label>filter with country</mat-label>
          <mat-select #selectedCountry (selectionChange)="country=selectedCountry.value" >
            <mat-option *ngFor="let country of countries" (onSelectionChange)="onCountrySelection(country['iso2'])" [value]="country['name']">{{country['name']}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section style="margin-left: 5%">
        <mat-form-field appearance="fill" color="warn">
          <mat-label>filter with state</mat-label>
          <mat-select #selectedState (selectionChange)="city=selectedState.value" >
            <mat-option *ngFor="let state of states" [value]="state['name']">{{state['name']}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section style="margin-left: 5%">
        <mat-form-field appearance="outline">
          <mat-label> filter with gender</mat-label>
          <mat-select #selectedGender (selectionChange)="gender=selectedGender.value">
            <mat-option *ngFor="let gender of gendersFilter" [value]="gender">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section style="margin-left: 5%">
        <mat-form-field appearance="outline">
          <mat-label> filter with languages</mat-label>
          <mat-select #selectedLanguages (selectionChange)="languages=selectedLanguages.value" multiple>
            <mat-option *ngFor="let language of languagesFilter" [value]="language">{{language}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section style="margin-left: 5%">
        <mat-form-field appearance="outline">
          <mat-label> filter with average rating</mat-label>
          <mat-select #selectedRating (selectionChange)="averageRating=selectedRating.value">
            <mat-option *ngFor="let rating of ratingsFilter" [value]="rating">{{rating}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section style="margin-left: 5%">
        <input matInput #searchInput type="text"
               placeholder="Search"
               (keyup.enter)="searchArtist(searchInput.value)">
        <button (click)="searchArtist(searchInput.value)" matSuffix mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </section>

    </mat-toolbar>

    <div fxLayout="row wrap" style="margin-left: 50px">
      <div fxFlex style="padding-bottom: 30px" *ngFor="let user of userList  ">
        <mat-card style="width: 520px;">
          <mat-card-header>
            <section *ngIf="authenticatedUser" style="margin-left: auto">
              <button matTooltip="favorite" *ngIf="!authenticatedUser.favoriteArtistIds.includes(user.id)"
                      (click)="favoriteTattooArtist(user.id)" mat-icon-button color="accent">
                <mat-icon>favorite</mat-icon>
              </button>
              <button matTooltip="unFavorite" *ngIf="authenticatedUser.favoriteArtistIds.includes(user.id)"
                      (click)="unFavoriteTattooArtist(user.id)" mat-icon-button color="accent">
                <mat-icon>undo</mat-icon>
              </button>
            </section>
            <mat-card-title>{{user.firstName}}</mat-card-title>
            <mat-card-subtitle>{{user.city ? user.city : "nowhere"}}</mat-card-subtitle>
            <mat-card-subtitle>
              <div fxLayout="row">
                <mat-icon style="margin-left: auto" color="primary">star</mat-icon>
                <h1>{{user.averageRating}}</h1>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <img routerLink="/users/{{user.id}}" mat-card-image style=" cursor: pointer; object-fit:cover; height: 80%"
               src="{{user.avatarUrl}}">
          <mat-card-content>
            <h2>rating : {{user.averageRating}}</h2>
            <h2>working days: {{user.workDays}}</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <footer style="margin-top: auto">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="TattooArtistTotalElements"
                     (page)="nextPageUser($event)"></mat-paginator>
    </footer>
  </mat-tab>

</mat-tab-group>

