<mat-toolbar color="primary">
  <section>
    <mat-chip-list aria-label=" selection">
      <mat-chip color="primary">
        Poland
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <mat-chip color="primary">
        Germany
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <mat-chip color="primary">
        Italy
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </section>
</mat-toolbar>

<mat-tab-group color="primary" backgroundColor="primary" mat-align-tabs="center">

  <mat-tab label="TattooWork">

    <mat-toolbar>
      <span matPrefix></span>
      <input type="tel" matInput placeholder="Search" name="search">
      <button matSuffix mat-button><mat-icon>search</mat-icon></button>
    </mat-toolbar>

    <div fxLayout="row wrap" style="margin-left: 50px;">
      <div fxFlex style="padding-bottom: 30px" *ngFor="let tattooWork of tattooWorkList ">
        <mat-card style="width: 550px">
          <mat-card-header style="max-height: 250px;margin-bottom: 5%">
            <section *ngIf="authenticatedUser" style="margin-left: auto">
              <button matTooltip="favorite"
                      *ngIf="!authenticatedUser.favoriteTattooWorkIds.includes(tattooWork.id)"
                      (click)="favoriteTattooWork(tattooWork.id)"
                      mat-icon-button color="accent">
                <mat-icon>favorite</mat-icon>
              </button>
              <button matTooltip="unFavorite"
                      *ngIf="authenticatedUser.favoriteTattooWorkIds.includes(tattooWork.id)"
                      (click)="unFavoriteTattooWork(tattooWork.id)"
                      mat-icon-button
                      color="accent">
                <mat-icon>undo</mat-icon>
              </button>
            </section>
            <img mat-card-avatar
                 routerLink="/users/{{tattooWork.madeBy.id}}"
                 src="{{tattooWork.madeBy.avatarUrl}}"
                 style="background-size: cover;cursor: pointer ; width: 45%;height: 45%;max-width: 100px; max-height: 100px">

            <mat-card-title><br></mat-card-title>
            <mat-card-title> {{tattooWork.madeBy.firstName}} {{tattooWork.madeBy.lastName}}</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>location_on</mat-icon>
              {{tattooWork.madeBy.country}}</mat-card-subtitle>
          </mat-card-header>

          <div class="detailDiv">
            <img routerLink="/tattoo-work/{{tattooWork.id}}" mat-card-image
                 style=" cursor: pointer; object-fit:cover ;max-height: 450px" class="cover-img"
                 src="{{tattooWork.coverPhoto}}">
            <div class="detailButton">
              <button routerLink="/tattoo-work/{{tattooWork.id}}" mat-flat-button color="accent">See Details</button>
            </div>
          </div>

          <div fxLayout="row" *ngIf="authenticatedUser">
            <button style="width: 50%;" [disabled]="tattooWork.likerIds.includes(authenticatedUser.id)" mat-flat-button
                    color="accent" (click)="likeTattooWork(tattooWork.id)">
              <mat-icon fxFlex>thumb_up</mat-icon>
            </button>

            <button style="margin-left: auto ; width: 50%"
                    [disabled]="tattooWork.disLikerIds.includes(authenticatedUser.id)"
                    mat-flat-button color="warn" (click)="disLikeTattooWork(tattooWork.id)">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
          <div>
            <button style="width: 50%" mat-button color="accent"><h1
              style="font-size: 25px">{{tattooWork.like_number}}</h1></button>
            <button style="width: 50%" mat-button color="warn"><h1
              style="font-size: 25px">{{tattooWork.dislike_number}}</h1></button>
          </div>

          <div style="margin-left: 5%" fxLayout="row">
            <h1>{{tattooWork.description}}</h1>
            <mat-card style="margin-left: auto"><h1
              style="margin-left: auto">{{tattooWork.price | currency:tattooWork.currency}}</h1></mat-card>

          </div>


        </mat-card>
      </div>
    </div>
    <footer style="margin-top: auto">
      <mat-paginator [pageSizeOptions]="[2,5, 10, 25, 100]" [pageSize]="10" [length]="TattooWorkTotalElements"
                     (page)="nextPageTattooWork($event)"></mat-paginator>
    </footer>
  </mat-tab>

  <mat-tab label="TattooArtist">

    <mat-toolbar>
      <section>
        <input matInput #searchInput type="text"
               placeholder="Search"
               (keyup.enter)="searchArtist(searchInput.value)">
        <button (click)="searchArtist(searchInput.value)" matSuffix mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </section>

    </mat-toolbar>

    <div fxLayout="row wrap" style="margin-left: 50px">
      <div fxFlex style="padding-bottom: 30px" *ngFor="let user of userList | async ">
        <mat-card style="width: 520px;">
          <mat-card-header>
            <section *ngIf="authenticatedUser" style="margin-left: auto">
              <button matTooltip="favorite" *ngIf="!authenticatedUser.favoriteArtistIds.includes(user.id)"
                      (click)="favoriteTattooArtist(user.id)" mat-icon-button color="accent">
                <mat-icon>favorite</mat-icon>
              </button>
              <button matTooltip="unFavorite" *ngIf="authenticatedUser.favoriteArtistIds.includes(user.id)"
                      (click)="unFavoriteTattooArtist(user.id)" mat-icon-button color="accent">
                <mat-icon>undo</mat-icon>
              </button>
            </section>
            <mat-card-title>{{user.firstName}}</mat-card-title>
            <mat-card-subtitle>{{user.city ? user.city : "nowhere"}}</mat-card-subtitle>
            <mat-card-subtitle>
              <div fxLayout="row">
                <mat-icon style="margin-left: auto" color="primary">star</mat-icon>
                <h1>{{user.averageRating}}</h1>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <img routerLink="/users/{{user.id}}" mat-card-image style=" cursor: pointer; object-fit:cover; height: 80%"
               src="{{user.avatarUrl}}">
          <mat-card-content>
            <h2>rating : {{user.averageRating}}</h2>
            <h2>working days: {{user.workDays}}</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <footer style="margin-top: auto">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="TattooArtistTotalElements"
                     (page)="nextPageUser($event)"></mat-paginator>
    </footer>
  </mat-tab>

</mat-tab-group>

