<div *ngIf="authenticatedUser;else loggedOut">

  <mat-card>
    <section style=" margin-left: 45%">
      <img style=" height: 200px;
               width: 200px;
               border-radius: 50%;" src="{{authenticatedUser.avatarUrl}}">
    </section>
    <h1 style="text-align: center">{{authenticatedUser.firstName}} {{authenticatedUser.lastName}}</h1>
    <div fxLayout="row">
      <div fxFlex>
        <h1 style="text-align: center"><mat-icon>contact_support</mat-icon>Contact</h1>
        <h3 style="text-align: center"><mat-icon>phone</mat-icon> Phone number :{{authenticatedUser.phoneNumber}}</h3>
        <h3 style="text-align: center"><mat-icon>email</mat-icon> Email: {{authenticatedUser.email}}</h3>
      </div>
      <div fxFlex>
        <h1 style="text-align: center"><mat-icon>person</mat-icon> Personal</h1>
        <h3 style="text-align: center"><mat-icon>cake</mat-icon> Age: {{authenticatedUser.birthDate}}</h3>
        <h3 style="text-align: center"><mat-icon>work</mat-icon> Work Days: {{authenticatedUser.workDays}}</h3>
      </div>
      <div fxFlex>
        <h1 style="text-align: center"><mat-icon>location_on</mat-icon>Address</h1>
        <h3 style="text-align: center"><mat-icon>phone</mat-icon> Address: {{authenticatedUser.country}}, {{authenticatedUser.city}}, {{authenticatedUser.state}}, {{authenticatedUser.street}}, {{authenticatedUser.postalCode}}</h3>
        <h3 style="text-align: center"><mat-icon>question_mark</mat-icon> Other Information:  {{authenticatedUser.otherInformation}}</h3>
      </div>
      <div fxFlex>
        <h1 style="text-align: center"><mat-icon>star</mat-icon> Average Rating</h1>
        <h3 style="text-align: center"><mat-icon>stars</mat-icon> Average Rating: {{authenticatedUser.averageRating}}</h3>
      </div>
      <div fxFlex>
        <h1 style="text-align: center"><mat-icon>price_change</mat-icon> Price Interval</h1>
        <h3 style="text-align: center" *ngIf=" priceInterval | async as priceIntervalObject">
          <mat-icon>sell</mat-icon> MAX: {{priceIntervalObject.maxTattooWorkPrice}} {{priceIntervalObject.maxTattooWorkPriceCurrency}} -  MIN: {{priceIntervalObject.minTattooWorkPrice}} {{priceIntervalObject.minTattooWorkPriceCurrency}}
        </h3>
      </div>
    </div>
  </mat-card>

  <mat-tab-group color="primary" backgroundColor="primary" mat-align-tabs="center">
    <mat-tab label="Ops">
      <mat-toolbar>
        <div>Operations</div>
      </mat-toolbar>
      <mat-card>
        <div fxLayout="row">

          <div fxFlex style="margin-left: 14%">
            <button mat-flat-button style="border-radius: 100%;width: 200px; height: 200px" color="accent"
                    *ngIf="authenticatedUser.hasArtistPage" routerLink="/me-edit">
              Update Profile
            </button>
            <button  mat-flat-button style="border-radius: 100%;width: 200px; height: 200px" color="accent"
                    *ngIf="!authenticatedUser.hasArtistPage" routerLink="/me-edit-basic">
              Update Profile
            </button>
          </div>

          <div fxFlex>
            <button mat-flat-button style="border-radius: 100%;width: 200px; height: 200px" color="warn"
                    (click)="deleteAccount()">
              delete account
            </button>
          </div>

          <div fxFlex>
            <button mat-flat-button style="border-radius: 100%;width: 200px; height: 200px" color="primary"
                    *ngIf="authenticatedUser.hasArtistPage" routerLink="/post">
              Post a Tattoo Work
            </button>
            <button mat-flat-button style="border-radius: 100%;width: 200px; height: 200px" color="accent"
                    routerLink="/artist-account-form" *ngIf="authenticatedUser.hasArtistPage===false">
              <mat-icon>add</mat-icon>
              Create an artist page
            </button>
          </div>

        </div>

      </mat-card>
    </mat-tab>


    <mat-tab label="Favorite TattooWorks">
      <mat-toolbar>
        Favorite Tattoo Works
      </mat-toolbar>
      <div>
        <div fxLayout="row wrap" style="margin-left: 50px;">
          <div fxFlex style="padding-bottom: 30px" *ngFor="let tattooWork of favoriteTattooWorks | async ">
        <mat-card style="width: 550px">
          <mat-card-header style="max-height: 250px;margin-bottom: 5%">
            <section *ngIf="authenticatedUser" style="margin-left: auto">
              <button matTooltip="unFavorite"
                      *ngIf="authenticatedUser.favoriteTattooWorkIds.includes(tattooWork.id)"
                      (click)="unFavoriteTattooWork(tattooWork.id)"
                      mat-icon-button
                      color="accent">
                <mat-icon>undo</mat-icon>
              </button>
            </section>
            <img mat-card-avatar
                 routerLink="/users/{{tattooWork.madeBy.id}}"
                 src="{{tattooWork.madeBy.avatarUrl}}"
                 style="background-size: cover;cursor: pointer ; width: 45%;height: 45%; max-width: 250px; max-height: 250px">

            <mat-card-title><br></mat-card-title>
            <mat-card-title> {{tattooWork.madeBy.firstName}} {{tattooWork.madeBy.lastName}}</mat-card-title>
            <mat-card-subtitle><mat-icon>location_on</mat-icon>{{tattooWork.madeBy.country}}</mat-card-subtitle>
            <mat-card-subtitle><br></mat-card-subtitle>
            <mat-card-subtitle><mat-icon>apartment</mat-icon> Address:  {{tattooWork.madeBy.city}} , {{tattooWork.madeBy.state}} , {{tattooWork.madeBy.street}} , {{tattooWork.madeBy.postalCode}}</mat-card-subtitle>
            <mat-card-subtitle><mat-icon>info</mat-icon>Other Information: {{tattooWork.madeBy.otherInformation}}</mat-card-subtitle>
            <mat-card-subtitle><br></mat-card-subtitle>
          </mat-card-header>

          <div class="detailDiv">
            <img routerLink="/tattoo-work/{{tattooWork.id}}" mat-card-image
                 style=" cursor: pointer; object-fit:cover ;max-height: 450px" class="cover-img" src="{{tattooWork.coverPhoto}}">
            <div class="detailButton">
              <button routerLink="/tattoo-work/{{tattooWork.id}}" mat-flat-button color="accent">See Details</button>
            </div>
          </div>

          <div fxLayout="row" *ngIf="authenticatedUser">
            <button style="width: 50%;" [disabled]="tattooWork.likerIds.includes(authenticatedUser.id)" mat-flat-button
                    color="accent" (click)="likeTattooWork(tattooWork.id)">
              <mat-icon fxFlex>thumb_up</mat-icon>
            </button>

            <button style="margin-left: auto ; width: 50%"
                    [disabled]="tattooWork.disLikerIds.includes(authenticatedUser.id)"
                    mat-flat-button color="warn" (click)="disLikeTattooWork(tattooWork.id)">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
          <div>
            <button style="width: 50%" mat-button color="accent"><h1
              style="font-size: 25px">{{tattooWork.like_number}}</h1></button>
            <button style="width: 50%" mat-button color="warn"><h1
              style="font-size: 25px">{{tattooWork.dislike_number}}</h1></button>
          </div>

          <div style="margin-left: 5%" fxLayout="row">
            <h1>{{tattooWork.description}}</h1>
            <mat-card style="margin-left: auto"><h1
              style="margin-left: auto">{{tattooWork.price | currency:tattooWork.currency}}</h1></mat-card>
          </div>

        </mat-card>
          </div>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="My TattooWorks">
      <mat-toolbar>
        My Tattoo Works
      </mat-toolbar>
      <div>
        <div fxLayout="row wrap" style="margin-left: 50px;">
          <div fxFlex style="padding-bottom: 30px" *ngFor="let tattooWork of myTattooWorks | async ">
            <mat-card style="width: 550px">
              <mat-card-header style="max-height: 250px;margin-bottom: 5%">
                <section *ngIf="authenticatedUser" style="margin-left: auto">
                  <button matTooltip="unFavorite"
                          *ngIf="authenticatedUser.favoriteTattooWorkIds.includes(tattooWork.id)"
                          (click)="unFavoriteTattooWork(tattooWork.id)"
                          mat-icon-button
                          color="accent">
                    <mat-icon>undo</mat-icon>
                  </button>
                </section>
                <img mat-card-avatar
                     routerLink="/users/{{tattooWork.madeBy.id}}"
                     src="{{tattooWork.madeBy.avatarUrl}}"
                     style="background-size: cover;cursor: pointer ; width: 45%;height: 45%; max-width: 250px; max-height: 250px">

                <mat-card-title><br></mat-card-title>
                <mat-card-title> {{tattooWork.madeBy.firstName}} {{tattooWork.madeBy.lastName}}</mat-card-title>
                <mat-card-subtitle><mat-icon>location_on</mat-icon>{{tattooWork.madeBy.country}}</mat-card-subtitle>
                <mat-card-subtitle><br></mat-card-subtitle>
                <mat-card-subtitle><mat-icon>apartment</mat-icon> Address:  {{tattooWork.madeBy.city}} , {{tattooWork.madeBy.state}} , {{tattooWork.madeBy.street}} , {{tattooWork.madeBy.postalCode}}</mat-card-subtitle>
                <mat-card-subtitle><mat-icon>info</mat-icon>Other Information: {{tattooWork.madeBy.otherInformation}}</mat-card-subtitle>
                <mat-card-subtitle><br></mat-card-subtitle>
              </mat-card-header>

              <div class="detailDiv">
                <img routerLink="/tattoo-work/{{tattooWork.id}}" mat-card-image
                     style=" cursor: pointer; object-fit:cover ;max-height: 450px" class="cover-img" src="{{tattooWork.coverPhoto}}">
                <div class="detailButton">
                  <button routerLink="/tattoo-work/{{tattooWork.id}}" mat-flat-button color="accent">See Details</button>
                </div>
              </div>

              <div fxLayout="row" *ngIf="authenticatedUser">
                <button style="width: 50%;" [disabled]="tattooWork.likerIds.includes(authenticatedUser.id)" mat-flat-button
                        color="accent" (click)="likeTattooWork(tattooWork.id)">
                  <mat-icon fxFlex>thumb_up</mat-icon>
                </button>

                <button style="margin-left: auto ; width: 50%"
                        [disabled]="tattooWork.disLikerIds.includes(authenticatedUser.id)"
                        mat-flat-button color="warn" (click)="disLikeTattooWork(tattooWork.id)">
                  <mat-icon>thumb_down</mat-icon>
                </button>
              </div>
              <div>
                <button style="width: 50%" mat-button color="accent"><h1
                  style="font-size: 25px">{{tattooWork.like_number}}</h1></button>
                <button style="width: 50%" mat-button color="warn"><h1
                  style="font-size: 25px">{{tattooWork.dislike_number}}</h1></button>
              </div>

              <div style="margin-left: 5%" fxLayout="row">
                <h1>{{tattooWork.description}}</h1>
                <mat-card style="margin-left: auto"><h1
                  style="margin-left: auto">{{tattooWork.price | currency:tattooWork.currency}}</h1></mat-card>
              </div>

            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Favorite Tattoo Artists">
      <mat-toolbar>
        Favorite Tattoo Artists
      </mat-toolbar>
      <div>
        <div fxLayout="row wrap" style="margin-left: 50px">
          <div fxFlex style="padding-bottom: 30px" *ngFor="let user of favoriteTattooArtists | async ">

            <mat-card style="width: 520px;">
              <mat-card-header>

                <button matTooltip="unFavorite" style="margin-left: auto" (click)="unFavoriteTattooArtist(user.id)"
                        mat-icon-button color="accent">
                  <mat-icon>block</mat-icon>
                </button>

                <mat-card-title>{{user.firstName}}</mat-card-title>
                <mat-card-subtitle>{{user.city ? user.city : "nowhere"}}</mat-card-subtitle>
              </mat-card-header>
              <img routerLink="/users/{{user.id}}" mat-card-image
                   style=" cursor: pointer; object-fit:cover; height: 80%" src="{{user.avatarUrl}}">

              <mat-card-content>

                <h2>rating : {{user.averageRating}}</h2>
                <h2>working days: {{user.workDays}}</h2>
              </mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Taken Reviews">
      <mat-toolbar>
        My Reviews
      </mat-toolbar>
      <div style="background-color: #a3ff5e">
        <div fxFlex="row" *ngFor="let review of myReviews | async">
          <mat-card>
            <mat-card-title-group>
              <mat-card-title>{{review.postedBy.firstName}}{{review.postedBy.lastName}}</mat-card-title>
              <mat-card-subtitle>{{review.reviewType}}</mat-card-subtitle>
              <img mat-card-sm-image src="{{review.postedBy.avatarUrl}}">
            </mat-card-title-group>
            <mat-card-content>
              {{review.message}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
