<header  style="height: 275px">
  <div>
    <mat-toolbar style="height: 275px">
      <section *ngIf="authenticatedUser" style="margin-left: 5%; margin-top: 20px">
        <img routerLink="/me"
             mat-card-image
             style="object-fit:cover;
              height: 200px;
               width: 200px;
               border-radius: 10%;
                cursor: pointer;"
             src="{{authenticatedUser.avatarUrl}}">
        <p  style="text-align: center;">{{authenticatedUser.firstName + " " + authenticatedUser.lastName}}</p>
      </section>
      <h1 routerLink="/home" style="font-size: 100px;padding-left: 5%;cursor: pointer; font-family: 'Century Gothic';">TattooArtistApp</h1>
      <button *ngIf="!authenticatedUser" (click)="authService.signUpDialog()" mat-flat-button color="accent" style="width: 150px;margin-left: 5%;height: 60px" ><mat-icon>login</mat-icon>Sign up/Login</button>
      <button *ngIf="authenticatedUser" (click)="authService.logout()" mat-flat-button color="warn" style="width: 100px; margin-left: 5%;height: 60px" ><mat-icon>logout</mat-icon>Logout</button>
      <button mat-button routerLink="/home" style="width: 100px; margin-left: 1%;height: 60px" color="primary" mat-flat-button><mat-icon>home</mat-icon>Home</button>
      <button mat-button *ngIf="authenticatedUser" routerLink="/me" style="width: 100px; margin-left: 1%;height: 60px" color="primary" mat-flat-button ><mat-icon>person</mat-icon>Profile</button>
      <button mat-button *ngIf="authenticatedUser" routerLink="/chats" style="width: 120px; margin-left: 1%;height: 60px" color="primary" mat-flat-button><mat-icon>message</mat-icon>Messages</button>
    </mat-toolbar>
  </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>
