<div style="text-align: center">
  <mat-label>Choose Photos:</mat-label>
  <input type="file" (change)="upload($event)" accept=".png,.jpg"/>

  <progress max="100" [value]="(uploadProgress | async)"></progress>
  <br><br>
  <div fxLayout="row wrap">
    <div fxFlex *ngIf="avatarUrl">
      <img style="width: 500px;height: 500px; border: 10px solid darkgreen;" matCardImage [src]="avatarUrl">
      <button (click)="removeFromPhotos(avatarUrl)" mat-flat-button color="accent">remove</button>
    </div>
  </div>
  <br>
  <mat-card style="margin-left: 30%;margin-right: 30%;">
    <form *ngIf="updateProfileFormGroup" [formGroup]="updateProfileFormGroup" (ngSubmit)="submit()">
      <div formGroupName="updateProfile">
        <mat-form-field appearance="fill" color="warn">
          <mat-label>First name</mat-label>
          <input matInput placeholder="name" formControlName="firstName" required>
          <mat-error>FirstName is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>LastName</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error>LastName is required!</mat-error>
        </mat-form-field>
<!--        <br>-->
<!--        <mat-form-field appearance="fill" color="warn">-->
<!--          <mat-label>Email</mat-label>-->
<!--          <input matInput readonly formControlName="email">-->
<!--          <mat-error>Email is required!</mat-error>-->
<!--        </mat-form-field>-->
<!--        <br>-->
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter Phone Number</mat-label>
          <input matInput placeholder="1231233" formControlName="phoneNumber" required>
          <mat-error>Phone Number is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Career Description</mat-label>
          <input matInput placeholder="career" formControlName="careerDescription" required>
          <mat-error>Career Desc. is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
          </mat-select>
          <mat-error>Gender is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Tattoo styles you make</mat-label>
          <mat-select formControlName="tattooStyles" required multiple>
            <mat-option *ngFor="let style of tattooStyles" [value]="style">{{style}}</mat-option>
          </mat-select>
          <mat-error>tattoo style is required!</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>DAYS</mat-label>
          <mat-select formControlName="workDays" multiple>
            <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
          </mat-select>
          <mat-error>DAYS are required!</mat-error>
        </mat-form-field>

        <br><br><br><br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter Street</mat-label>
          <input matInput placeholder="street-name" formControlName="street" required>
          <mat-error>Street is required!</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" color="warn">
          <mat-label>Language</mat-label>
          <mat-select formControlName="languages" required multiple>
            <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
          </mat-select>
          <mat-error>Language is required!</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter city</mat-label>
          <input matInput placeholder="example@example.com" formControlName="city" required>
          <mat-error>city is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter country</mat-label>
          <input matInput placeholder="example@example.com" formControlName="country" required>
          <mat-error>country is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter state</mat-label>
          <input matInput placeholder="example@example.com" formControlName="state" required>
          <mat-error>state is required!</mat-error>

        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter postal code</mat-label>
          <input matInput placeholder="03-123" formControlName="postalCode" required>
          <mat-error>Postal code is required!</mat-error>

        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Enter additional information</mat-label>
          <input matInput placeholder="Tattoo Studio.." formControlName="otherInformation" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Choose birth date</mat-label>
          <input formControlName="birthDate" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Date of birth is required!</mat-error>
        </mat-form-field>
      </div>
      <button [disabled]="!updateProfileFormGroup.valid" mat-button mat-flat-button color="accent" (submit)="submit()">update</button>
      <button mat-button mat-flat-button color="warn" routerLink="/me">Cancel</button>
    </form>
  </mat-card>
</div>
