<mat-card style="border-radius: 500px">
  <h1 style="text-align: center">POST TATTOO WORK</h1>
</mat-card>
<br><br><br><br>
<div style="text-align: center">
  <div>
    <mat-card style="margin-left: 30%;margin-right: 30%;">

      <mat-label>Choose Photos:</mat-label>
      <input type="file" (change)="upload($event)" accept=".png,.jpg"/>

      <progress max="100" [value]="(uploadProgress | async)"></progress>
      <br><br>
      <div fxLayout="row wrap">
        <div fxFlex *ngFor="let url of imageUrlList ">
          <div>
              <img style="width: 500px;height: 500px; border: 10px solid darkgreen;" matCardImage *ngIf="imageUrlList[0]===url" [src]="url">
              <img style="width: 500px;height: 500px"  matCardImage *ngIf="imageUrlList[0]!==url" [src]="url">
              <button (click)="removeFromPhotos(url)" mat-flat-button color="accent">remove</button>
          </div>
        </div>
      </div>
      <br>

      <div>
        <form *ngIf="postTattooWorkFormGroup" [formGroup]="postTattooWorkFormGroup" (ngSubmit)="submit()">
          <div formGroupName="postTattooWork">
            <mat-form-field appearance="fill" color="warn">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description" required>
              <mat-error>Description is required!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="warn">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" required>
              <mat-error>Price is required !</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="warn">
              <mat-label>Currency</mat-label>
              <input matInput placeholder="PLN,EUR" formControlName="currency" required>
              <mat-error>Currency is required !</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Tattoo styles you make</mat-label>
              <mat-select formControlName="tattooStyle" required>
                <mat-option *ngFor="let style of tattooStyles" [value]="style">{{style}}</mat-option>
              </mat-select>
              <mat-error>tattoo style is required!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 400px" appearance="fill" color="warn">
              <mat-label>Client</mat-label>
              <input matInput formControlName="clientId" required [matAutocomplete]="auto">
              <mat-error>Client is required !</mat-error>
            </mat-form-field>
            <br>
          </div>
          <button [disabled]="!postTattooWorkFormGroup.valid" mat-button mat-flat-button color="accent" (submit)="submit()">Create</button>
          <button mat-button mat-flat-button color="warn" routerLink="/me">Cancel</button>
        </form>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of autocompleteList | async " [value]="user.firstName + ' ' + user.lastName" (onSelectionChange)="selectClient(user.id)">
            <div fxLayout="row">
              <img  fxFlex style="height: 50px; margin-top: auto ; margin-bottom: auto ;" matCardImage src="{{user.avatarUrl}}">
              <h3 fxFlex style="margin-top: auto ; margin-bottom: auto ;margin-left: 10%;" >{{user.firstName + ' ' + user.lastName}}</h3>
            </div>
          </mat-option>
        </mat-autocomplete>

      </div>
    </mat-card>
  </div>

</div>
