<div fxLayout="row wrap" style="margin-left: 50px" >

  <div fxFlex style="padding-bottom: 30px">
    <mat-card style="width: 500px;">
      <mat-card-header>
        <img mat-card-avatar src="favicon.ico" style="background-size: cover;">
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="object-fit:cover; height: 80%" src="favicon.ico">
      <mat-card-content>
        <h2>detail</h2>
      </mat-card-content>
      <mat-card-actions>
        <form style="min-width: 150px; max-width: 500px;width: 100%;">
          <mat-form-field style="width: 100%;">
            <mat-label>Leave a comment <mat-icon>add</mat-icon></mat-label>
            <input matInput>
          </mat-form-field>
        </form>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex style="padding-bottom: 30px">
    <mat-card style="width: 500px;">
      <mat-card-header>
        <img mat-card-avatar src="favicon.ico" style="background-size: cover;">
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="object-fit:cover; height: 80%" src="favicon.ico">
      <mat-card-content>
        <h2>detail</h2>
      </mat-card-content>
      <mat-card-actions>
        <form style="min-width: 150px; max-width: 500px;width: 100%;">
          <mat-form-field style="width: 100%;">
            <mat-label>Leave a comment <mat-icon>add</mat-icon></mat-label>
            <input matInput>
          </mat-form-field>
        </form>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex style="padding-bottom: 30px">
    <mat-card style="width: 500px;">
      <mat-card-header>
        <img mat-card-avatar src="favicon.ico" style="background-size: cover;">
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="object-fit:cover; height: 80%" src="favicon.ico">
      <mat-card-content>
        <h2>detail</h2>
      </mat-card-content>
      <mat-card-actions>
        <form style="min-width: 150px; max-width: 500px;width: 100%;">
          <mat-form-field style="width: 100%;">
            <mat-label>Leave a comment <mat-icon>add</mat-icon></mat-label>
            <input matInput>
          </mat-form-field>
        </form>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
