<h1 style="text-align: center">Sign up/Sign in</h1>
<div fxLayout="row">
  <div style="padding-right: 1%">
    <button (click)="authService.loginWithFacebook()" mat-raised-button color="accent" style="width: 400px">
      Sign up/Login With Facebook
    </button>
    <br><br>
    <button (click)="authService.loginWithGoogle()" mat-raised-button color="accent" style="width: 400px">
      Sign up/Login With Google
    </button>
    <br><br>
    <h2 style="text-align: center">Login with Email/Password</h2>

    <form *ngIf="loginFormGroup" [formGroup]="loginFormGroup" (ngSubmit)="signIn()" style="width: 400px">
      <div formGroupName="emailLoginForm">
      <mat-form-field style="width: 400px;" color="accent">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="email" style="width: 400px;">
      </mat-form-field>
      <br>
      <mat-form-field style="width: 400px;" color="accent">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password" style="width: 400px;">
      </mat-form-field>
      <br>
      <button [disabled]="!loginFormGroup.valid" (click)="signIn()" mat-raised-button color="accent">Sign In</button>
      </div>
    </form>
    <a style="cursor: pointer; " (click)="openResetPasswordDialog()">Forgot my password</a>
  </div>


  <mat-divider vertical style="color: blueviolet"></mat-divider>

  <div style="padding-left: 1%">
    <h2 style="text-align: center">Register</h2>

    <div>
    <form *ngIf="emailSignUpFormGroup" [formGroup]="emailSignUpFormGroup" (ngSubmit)="submit()" style="width: 400px">
      <div formGroupName="emailRegisterForm">
        <mat-form-field style="width: 400px;" color="accent">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error>First name is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 400px;" color="accent">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" required placeholder="last Name" style="width: 400px">
          <mat-error>Last name is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 400px;" color="accent">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required placeholder="email" style="width: 400px;">
          <mat-error>Email is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 400px;" color="accent">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" required placeholder="Password" style="width: 400px;">
          <mat-error>Password is required!</mat-error>
        </mat-form-field>
        <br>
        <button [disabled]="!emailSignUpFormGroup.valid" style="text-align: center" mat-raised-button color="accent" (click)="submit()">Create Account</button>
        <br>
      </div>
    </form>
  </div>
  </div>
</div>




